
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  margin: 20px;
}
h1 {
  color: #333;
  margin-bottom: 20px;
}
div{
  margin-bottom: 15px;
  background-color: rgb(99, 163, 163);
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}
div>form>button{
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 100px;
}
div>form>input{
  padding: 8px;
  width: 90%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 20px;
}